@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<br />
<br />

<Ticks style="background-color: lightcoral" />
<br />

<Ticks2 style="background-color: lightslategray;" />
<br />

<div hx-get="@GetTicks.Route.AddQueryParam(GetTicks.QueryTriggerEventTicksReceived, true)"
     hx-trigger="load, @GetTicks.EventTicksReceived from:body delay:1s"
     hx-swap="innerHTML">
</div>